<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Driver Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='driver_styles.css') }}">
</head>
<body>
    <div class="login-wrapper">
        <div class="login-container">
            <h1>Driver Login</h1>
            <form method="POST" action="{{ url_for('driver.driver_login') }}">
                <label for="email">Email</label>
                <input type="email" name="email" required>

                <label for="password">Password</label>
                <input type="password" name="password" required>

                <button type="submit">Login</button>
            </form>

        {% include "components/_flash.html" %}
        </div>
    </div>
</body>
</html>
