<!DOCTYPE html>
<html lang="en">
<head>
    <title>Flask Webpage</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Hello World</h1>
    <p>Project - Online Meal Ordering System</p>

    <!-- Navigation Buttons -->
    <a href="{{ url_for('signup') }}"><button>Signup</button></a>
    <a href="{{ url_for('menu') }}"><button>View Menu</button></a>
    <a href="{{ url_for('view_cart') }}"><button>View Cart</button></a>
    <a href="{{ url_for('checkout') }}"><button>Checkout</button></a>

</body>
</html>
